.navBtn {
    display: flex;
    align-items: center;
    font-size: var(--primary-font);
    min-width: 6.5rem;
    cursor: pointer;
    /* justify-content: space-between; */
    /* color: var(--primary-color);
    border-bottom: 9px solid var(--primary-color);
    background-color: var(--shadow-color); */
    padding: 0 3%;
    /* border: 1px solid var(--primary-color); */
    /* min-width: 30%;
    min-height: 35px !important;
    font-size: 14px;
    margin: 0 2%; */
    /* border-radius: 40px;
    color: var(--primary-color); */
}
.navBtnActive {
    color: var(--primary-color);
    border-bottom: 9px solid var(--primary-color);
    background-color: var(--shadow-color);
}

.navBtn span {
    margin-left: 0.5rem;
    font-weight: 600;
    font-size: var(--secondary-font);
}

.activeNavBtn {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    min-width: 30%;
    border-radius: 40px;
    margin: 0 2%;
    /* padding: 2%; */
    font-size: var(--secondary-font);
    color: #fff;
}
.activeNavBtn:hover {
    color: #fff !important;
}

.navbarLoginBtn {
    min-width: 10%;
}

.loginBtn {
    width: 100%;
}

.navTabBtnMainDiv {
    margin-left: 2%;
}
.navTabBtn {
    padding: 0% 5%;
    /* border: 1px solid gray; */
    border-radius: 3px;
    background-color: var(--shadow-color);
    color: var(--primary-color);
    font-weight: var(--secondary-fontWeight);
    height: 1.7rem;
    display: flex;
    align-items: center;
    min-width: 32%;
    margin: 1.2% 2%;
}
.navTabBtnActive {
    background-color: var(--primary-color);
    color: #fff;
}
.navTabBtn span {
    margin-left: 10%;
}