.filterCard {
    margin: 7% 1% 0 2%;
    /* float: left; */
    width: 25%;
    border-radius: 3px;
    /* display: flex; */
    box-shadow: 0 0 10px 0 lightgray;
    /* flex-direction: column; */
    height: fit-content;
}
.headerPadding{
    display: flex;
    justify-content: space-between;
}  
.headingStyle {
    font-size: var(--primary-font);
    font-weight: var(--secondary-fontWeight);
}
.headingStyles {
    color: rgb(113, 113, 113);
}
.resetStyleShow {
    cursor: pointer;
    color: rgb(34, 118, 227);
    font-weight: var(--primary-fontWeight);
}
.justifyBetweens {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
}
.labelClass {
    align-items: flex-start;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}
.checkBoxFHideLabel .ant-checkbox+span {
    padding-inline-start: 10px;
    font-size: var(--third-font);
    font-weight: var(--primary-fontWeight);
    cursor: pointer;
}

.borderBottom {
    border-bottom: 1px solid rgb(240, 240, 240);
    padding-top: 5%;
    margin: 0 -6%;
}
.subHeading {
    padding-top: 5%;
}
.flexWrap {
    padding-top: 5%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
}
.checkButtonClass {
    background-color: rgb(243, 246, 248);
    cursor: pointer;
    border: none;
    width: 45%;
}
.checkButtonClass.clicked {
    background-color: var(--primary-color);
    color: white;
}
.checkButtonClass:not(:disabled):not(.checkButtonClass-disabled):hover {
    color: black;
    border-color: white;
}
.checkButtonClass.clicked:not(:disabled):not(.checkButtonClass.clicked-disabled):hover {
    color: white;
    border-color: white
}

.justifyBetween {
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.dF {
    display: flex;
}

.subHeadingStyle {
    font-size: var(--third-font);
    font-weight: var(--primary-fontWeight);
}

.subDiv {
    margin-top: 5%;
}

.checkList {
    width: 100%;
    display: flex;
    /* -webkit-box-pack: justify; */
    justify-content: space-between;
    /* -webkit-box-align: center; */
    /* align-items: center; */
    padding-bottom: 1rem;
}
.color {
    color: rgb(113, 113, 113);
}

/* -------------------------------- mediaQuery --------------------------- */

@media only screen and (min-width: 769px) and (max-width: 992px) {

    .filterCard .ant-card-body {
        padding: 4%;
    }
    .headingStyleow {
        font-size: var(--third-font);
    }
    .headingStylesow, .resetStyleShowOw, .subPriceCheck {
        font-size: var(--small-font);
    }
    .checkBoxFHideLabelow .ant-checkbox-inner {
        width: 0.7rem;
        height: 0.7rem;
    }
    .checkBoxFHideLabelow .ant-checkbox+span {
        font-size: var(--small-font);
    }
    .subHeadingow, .subHeadingStyleow {
        font-size: var(--label-font);
    }
    .checkButtonClassow {
        font-size: var(--small-font) !important;
        padding: 1% !important;
        height: 1.5rem !important;
    }
    .sliderFontStyle .ant-slider-mark-text {
        font-size: var(--small-font) !important;
    }
    .checkFBoxLabelow .ant-checkbox+span {
        font-size: var(--small-font);
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .checkButtonClassow {
        font-size: var(--label-font) !important;
        padding: 1% !important;
        height: 2rem !important;
    }
}

@media only screen and (min-width: 480px) and (max-width: 1100px) {
    .moreFFilter {
        font-size: var(--third-font);
        color: var(--primary-color);
    }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
    .filterFTitle {
        margin: 0 0 0 4% !important;
        width: 90%;
    }
    .filterCard .ant-card-body {
        padding: 1%;
    }

    /* -------------------------------- modal --------------------------- */

    .modalFStyle {
        width: 60% !important;
    }
    .modalFStyle .ant-modal-close {
        top: auto;
        display: flex;
        align-items: end;
    }
    .ant-modal .ant-modal-close:hover {
        color: rgba(0, 0, 0, 0.45) !important;
        background-color: white !important;
    }
    .modalFStyle .ant-modal-title {
        font-size: var(--primary-font);
    }
    .filterFModal {
        height: 24rem; 
        width: 100%;
    }
    .modal-header { 
        height: 4rem;
    }
    .modal-body { 
        height: 18rem;
        overflow: hidden auto;
        padding: 0 3%;
    }
    .borderBottom {
        padding-top: 2%;
        margin: 0 -2%;
    }
    .subHeading, .flexWrap {
        padding-top: 2%;
    }
    .subDiv {
        margin-top: 2%;
    }
    .checkList {
        padding-bottom: 0.5rem;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1100px) {
    .filterRoudTripTitle {
        margin: 8% 0 0 5% !important;
        width: 90%;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1000px) {
    .filterRoudTripTitle {
        margin: 9% 0 0 5% !important;
        width: 90%;
    }
}
@media only screen and (min-width: 769px) and (max-width: 850px) {
    .filterRoudTripTitle {
        margin: 10% 0 0 5% !important;
        width: 90%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1100px) {

    /* -------------------------------- roundTrip FIlterCard modal --------------------------- */

    .modalFStyleRT {
        width: 60% !important;
    }
    .modalFStyleRT .ant-modal-close {
        top: auto;
        display: flex;
        align-items: end;
    }
    .ant-modal .ant-modal-close:hover {
        color: rgba(0, 0, 0, 0.45) !important;
        background-color: white !important;
    }
    .modalFStyleRT .ant-modal-title {
        font-size: var(--primary-font);
    }
    .filterFModalRT {
        height: 24rem; 
        width: 100%;
    }
    .modal-headerRT { 
        height: 4rem;
    }
    .modal-bodyRT { 
        height: 18rem;
        overflow: hidden auto;
        padding: 0 3%;
    }
    .borderBottom {
        padding-top: 2%;
        margin: 0 -2%;
    }
    .subHeading, .flexWrap {
        padding-top: 2%;
    }
    .subDiv {
        margin-top: 2%;
    }
    .checkList {
        padding-bottom: 0.5rem;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1100px) {
    /* -------------------------------- roundTrip FIlterCard modal --------------------------- */
    .modalFStyleRT {
        width: 40% !important;
    }
}