.listMainDiv {
    margin: 1% 2%;
    margin-bottom: 0;
    display: flex;
}
.returnDtCheckbox .ant-checkbox-checked .ant-checkbox-inner {
    background-color: var(--dark-shadow) !important;
    border-color: var(--dark-shadow) !important;
}
.flightCardStyle {
    /* margin: 0 -4% 0 -4%; */
    position: fixed;
    width: 100%;
    /* left: 4%;
    top: 7%;
    right: 0%; */
    z-index: 1000;
}
.cardHeaderStyle {
    /* padding-left: 3%; */
    padding: 0 3%;
    /* background-color: rgb(34, 116, 224); */
    background-color: var(--primary-color);
}
.updateSearchBtn {
    background-color: rgb(255, 255, 255);
    /* margin: 0% 0 0 -25%; */
    height: 2.3rem;
    width: 100%;
    color: var(--primary-color);
    /* display: flex;
    -webkit-box-align: center;
    align-items: center; */
    /* -webkit-box-pack: center; */
    /* justify-content: center; */
    cursor: pointer;
    border: none;
    font-weight: var(--primary-fontWeight);
    border-radius: 3px;
    font-size: var(--secondary-font);
}
.boxCard {
    width: 21rem;
}
.labelBox {
    padding: 0px 0px 1rem;
    font-size: var(--secondary-font);
    font-weight: var(--primary-fontWeight);
}
.btnBox {
    width: 4rem;
    height: 2rem;
    padding: 0px 1rem;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 4px 0px;
    border-radius: 4rem;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
}
.btnIcon {
    color: blue;
    position: relative;
    top: 0rem;
    opacity: 1;
}
.numberCount {
    color: blue;
    font-weight: var(--primary-fontWeight);
    font-size: var(--secondary-font);
    padding-top: 1.3rem;
}
.doneBtn {
    padding: 1rem 1.5rem;
    border-radius: 3px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: var(--primary-fontWeight);
    font-size: var(--secondary-font);
}
.dropdownBtn {
    margin-top: 5%;
}
.doneFPBtn {
    text-align: -webkit-right;
}
.deptDateCol {
    margin-top: 1.7%;
}
.listAddBtn {
    border: none;
    background-color: var(--shadow-color);
}
.listRemoveIcon {
    font-size: 20px;
    margin-left: 4%;
    /* box-shadow: 0 0 5px gray; */
    border: none;
    border-radius: 5px;
    color: gray;
    padding: 2.5%;
    /* background-color: rgb(255, 250, 250); */
    background-color: var(--shadow-color);
}

.defSelectOptionStyle .ant-select-item-option-content {
    font-size: var(--third-font) !important;
    /* font-weight: 500 !important; */
    padding: 6% 4% !important;
    font-weight: 600 !important;
    border-bottom: 1px solid lightgray;
}

.defSelectOptionStyle .ant-select-item-option {
    padding: 0 !important;
}
.defSelect .ant-select-selection-item {
    font-size: var(--third-font) !important;
    font-weight: var(--primary-fontWeight) !important;
}

/* -------------------------------- Swap --------------------------- */

/* .swapStyle {
    padding-left: 3.5%;
} */


/* -------------------------------- Color --------------------------- */

.labelHeaderStyle {
    color: white;
    font-weight: var(--primary-fontWeight);
    opacity: 0.6;
}


/* -------------------------------- BackgroundColor --------------------------- */

.backgroundStyle .ant-select-selector {
    background-color: var(--dark-shadow) !important;
    color: white !important;
    border-color: var(--dark-shadow) !important;
}
.backgroundStyle .ant-select-selection-placeholder {
    color: white;
}
.backgroundStyle .ant-select-selection-item {
    color: white !important;
    padding-inline-end: 0 !important;
}
.backgroundStyle .ant-picker-input>input::placeholder {
    color: white !important;
}
.backgroundStyle {
    background-color: var(--dark-shadow) !important;
    color: white !important;
    border-color: var(--dark-shadow) !important;
    width: 100%;
}

.backgroundStyle:not(:disabled):not(.backgroundStyle-disabled):hover {
    color: white;
    border-color: white;
}

.backgroundStyle .ant-picker-input >input {
    color: white !important;
}

.backgroundStyle .ant-select-arrow .anticon > svg {
    fill: var(--dark-shadow) !important;
}
.backgroundStyle .ant-picker-suffix .anticon > svg {
    fill: var(--dark-shadow) !important;
    cursor: auto !important;
}

.commonSubDateStyle {
    font-size: var(--third-font);
}


/* -------------------------------- DatePicker --------------------------- */

.showDate {
    opacity: 0.3;
}


/* -------------------------------- UpdateSearchButton --------------------------- */

.updateSearchBtn:not(:disabled):not(.updateSearchBtn-disabled):hover {
    color: var(--primary-color);
    border-color: white;
}


/* -------------------------------- Popover --------------------------- */

.doneBtn:not(:disabled):not(.doneBtn-disabled):hover {
    color: white;
    border-color: white;
}
.totalFPassengers {
    font-size: var(--third-font);
    text-align: center;
    color: red;
}
.insidePopoverSelect {
    width: 95% !important;
}
.popOverFBtn {
    display: flex;
}

/* -------------------------------- Responsive (MediaQuery) --------------------------- */

@media only screen and (min-width: 769px) {
    .cardHeaderStyle .ant-card-body {
        padding: 1% !important;
    }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
    .cardHeaderStyle .ant-card-body {
        padding: 0;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1100px) {
    .updateSearchBtn {
        width: auto;
        font-size: var(--third-font);
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .listMainDiv {
        margin: 3% 0;
    }
    .cardHeaderStyle .ant-card-body {
        padding: 1%;
    }
    .labelHeaderStyle {
        font-size: var(--little-font) !important;
    }
    .updateSearchBtn {
        width: auto;
        font-size: var(--label-font);
    }
    .returnDtCheckbox .ant-checkbox-inner {
        width: 0.7rem;
        height: 0.7rem;
    }
    .backgroundStyle .ant-select-selection-item {
        font-size: var(--label-font) !important;
        padding-inline-end: 0 !important;
    }
    .defSelectOptionStyle .ant-select-item-option-content {
        font-size: var(--label-font) !important;
        padding: 4% 2% !important;
    }
    .backgroundStyle .ant-picker-input>input::placeholder {
        font-size: var(--label-font);
    }
    .backgroundStyle .ant-picker-input >input {
        font-size: var(--label-font);
    }
    .popOverFBtn {
        font-size: var(--label-font) !important;
    }
    .doneBtn {
        padding: 0.5rem 1rem !important;
        font-size: var(--third-font) !important;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .listMainDiv {
        margin: 2% 0;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .listMainDivTab {
        margin: 8% 0;
    }
    .cardHeaderStyle {
        padding: 0;
        background-color: #fff !important;
    }
    .cardHeaderStyle .ant-card-body .ant-collapse-item-active {
        padding: 0 !important;
        margin-bottom: -2.5%;
    }
    .updateSearchBtn {
        height: 1.7rem;
        width: auto;
        font-size: var(--third-font);
        background-color: var(--primary-color);
        color: white;
    }
    .updateSearchBtn:not(:disabled):not(.updateSearchBtn-disabled):hover {
        color: white;
        border-color: var(--primary-color);
    }
    .defSelectOptionStyle .ant-select-item-option-content {
        padding: 2% !important;
    }
    .collapseFIcon {
        font-size: var(--third-font) !important;
        color: #fff !important;
        align-self: flex-end;
    }
    .ant-collapse-expand-icon {
        display: flex !important;
        align-self: center !important;
        padding-bottom: 0.5%;
    }
    .collapseFStyle .ant-collapse-header {
        padding: 1% 3% !important;
        background-color: var(--primary-color) !important;
    }
    .activeCollapse .ant-collapse-header {
        background-color: var(--primary-color) !important;
    }
    .collapseFStyle .ant-collapse-header-text {
        color: white;
    }
    .collapseFStyle .ant-collapse-content-box {
        padding: 0 3% !important;
    }
    .collapseFStyle .ant-collapse-item-active {
        background-color: #fff !important;
    }
    .collapseLabel {
        font-size: var(--third-font);
        color: white;
    }
    .activeLabel {
        color: var(--dark-shadow);
        color: #fff;
    }
    .labelHeaderStyle {
        color: black;
        opacity: 1;
        font-weight: var(--secondary-fontWeight);
    }
    .backgroundStyle .ant-select-selector {
        background-color: #fff !important;
        border-color: lightgray !important;
    }
    .backgroundStyle .ant-select-selection-placeholder {
        color: black;
    }
    .backgroundStyle .ant-select-selection-item {
        color: black !important;
    }
    .backgroundStyle .ant-picker-input>input::placeholder {
        color: black !important;
        font-size: var(--third-font);
    }
    .backgroundStyle {
        background-color: #fff !important;
        color: black !important;
        border-color: lightgray !important;
    }
    .backgroundStyle:not(:disabled):not(.backgroundStyle-disabled):hover {
        color: black;
        border-color: lightgray;
    }
    .backgroundStyle .ant-picker-input >input {
        color: black !important;
        font-size: var(--third-font);
    }
    .backgroundStyle .ant-select-arrow .anticon > svg {
        fill: #fff !important;
    }
    .backgroundStyle .ant-picker-suffix .anticon > svg {
        fill: #fff !important;
    }
    .popOverFBtn {
        font-size: var(--third-font) !important;
    }
}

@media only screen and (min-width: 600px) and (max-width: 700px) {
    .listMainDivTab {
        margin: 9% 0;
    }
}
@media only screen and (min-width: 480px) and (max-width: 600px) {
    .listMainDivTab {
        margin: 10% 0;
    }
}
@media only screen and (min-width: 480px) and (max-width: 550px) {
    .listMainDivTab {
        margin: 11% 0;
    }
}
@media only screen and (min-width: 480px) and (max-width: 500px) {
    .listMainDivTab {
        margin: 12% 0;
    }
}