.bookingHistoryDiv {
    padding: 2% 4%;
    background-color: var(--back-color);
}

.bookingFilterCard {
    border-radius: 7px;
}

.addHistoryFilterForm .ant-form-item-row {
    flex-direction: column;
}
.addHistoryFilterForm .ant-form-item-label {
    text-align: left;
}
.historyCol {
    height: 4rem;
}